**Importando packages necess√°rios**

In [110]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Leitura das tabelas .csv**

In [111]:
tabela_cliente = pd.read_csv('/Users/Aluno/Desktop/mlsenac/machine-learning-senac/arquivos-aula10/olist_customers_dataset.csv')
tabela_localizacao = pd.read_csv('/Users/Aluno/Desktop/mlsenac/machine-learning-senac/arquivos-aula10/olist_geolocation_dataset.csv')
tabela_pedido = pd.read_csv('/Users/Aluno/Desktop/mlsenac/machine-learning-senac/arquivos-aula10/olist_order_items_dataset.csv')
tabela_pagamento = pd.read_csv('/Users/Aluno/Desktop/mlsenac/machine-learning-senac/arquivos-aula10/olist_order_payments_dataset.csv')
tabela_review = pd.read_csv('/Users/Aluno/Desktop/mlsenac/machine-learning-senac/arquivos-aula10/olist_order_reviews_dataset.csv')
tabela_entrega_pedido = pd.read_csv('/Users/Aluno/Desktop/mlsenac/machine-learning-senac/arquivos-aula10/olist_orders_dataset.csv')
tabela_descricao_produto = pd.read_csv('/Users/Aluno/Desktop/mlsenac/machine-learning-senac/arquivos-aula10/olist_products_dataset.csv')
tabela_vendedor = pd.read_csv('/Users/Aluno/Desktop/mlsenac/machine-learning-senac/arquivos-aula10/olist_sellers_dataset.csv')
tabela_categoria_traduzido = pd.read_csv('/Users/Aluno/Desktop/mlsenac/machine-learning-senac/arquivos-aula10/product_category_name_translation.csv')

**Checando head das tabelas**

In [112]:
tabela_cliente.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [113]:
tabela_localizacao.head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [114]:
tabela_pedido.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [115]:
tabela_pagamento.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [116]:
tabela_review.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parab√©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [117]:
tabela_entrega_pedido.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [118]:
tabela_descricao_produto.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [119]:
tabela_vendedor.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [120]:
tabela_categoria_traduzido.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

**Merge**

In [121]:
pd.merge(tabela_cliente, tabela_entrega_pedido, on=['customer_id'], how='inner')

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP,6760e20addcf0121e9d58f2f1ff14298,delivered,2018-04-07 15:48:17,2018-04-07 16:08:45,2018-04-11 02:08:36,2018-04-13 20:06:37,2018-04-25 00:00:00
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP,9ec0c8947d973db4f4e8dcf1fbfa8f1b,delivered,2018-04-04 08:20:22,2018-04-04 08:35:12,2018-04-05 18:42:35,2018-04-11 18:54:45,2018-04-20 00:00:00
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE,fed4434add09a6f332ea398efd656a5c,delivered,2018-04-08 20:11:50,2018-04-08 20:30:03,2018-04-09 17:52:17,2018-05-09 19:03:15,2018-05-02 00:00:00
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS,e31ec91cea1ecf97797787471f98a8c2,delivered,2017-11-03 21:08:33,2017-11-03 21:31:20,2017-11-06 18:24:41,2017-11-16 19:58:39,2017-12-05 00:00:00
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP,28db69209a75e59f20ccbb5c36a20b90,delivered,2017-12-19 14:27:23,2017-12-19 18:50:39,2017-12-21 19:17:21,2017-12-26 18:42:36,2018-01-08 00:00:00

**Processo de uni√£o com as demais tabelas disponibilizadas:**

1 - (Clientes, Entregas)

2 - (1, Pedidos)

3 - (2, Pagamentos)

4 - (3, Review)

5 - (4, Vendedor)

In [122]:
merge_table = pd.merge(tabela_cliente, tabela_entrega_pedido, on=['customer_id'], how='inner')
merge_table = pd.merge(merge_table, tabela_pedido, on=['order_id'], how='inner')
merge_table = pd.merge(merge_table, tabela_pagamento, on=['order_id'], how='inner')
merge_table = pd.merge(merge_table, tabela_review, on=['order_id'], how='inner')
merge_table = pd.merge(merge_table, tabela_vendedor, on=['seller_id'], how='inner')

merge_table

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,...,payment_value,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,seller_zip_code_prefix,seller_city,seller_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,...,146.87,88b8b52d46df026a9d1ad2136a59b30b,4,NaN,NaN,2017-05-26 00:00:00,2017-05-30 22:34:40,8577,itaquaquecetuba,SP
1,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,...,157.73,5ad6695d76ee186dc473c42706984d87,5,NaN,NaN,2018-06-15 00:00:00,2018-06-15 12:10:59,8577,itaquaquecetuba,SP
2,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,...,173.30,059a801bb31f6aab2266e672cab87bc5,5,NaN,NaN,2018-03-29 00:00:00,2018-04-02 18:36:47,8577,itaquaquecetuba,SP
3,4c06b42fbf7b97ab10779cda5549cd1c,07d190f123147d9e89d4b922543d7948,65075,sao luis,MA,997fd4b37386d10b57d4ac8cdec011a6,delivered,2018-07-08 09:59:19,2018-07-08 10:30:15,2018-07-25 15:12:00,...,315.75,2518803238cabbf63564593e4a8fc52d,1,Nada de produto,"Ainda n√£o recebi o produto. Sendo assim, n√£o p...",2018-08-09 00:00:00,2018-08-14 11:40:54,8577,itaquaquecetuba,SP
4,8276de07ef25225d412b8462d73f8664,332cf4e83e16004ba7dca932ce82475b,90010,porto alegre,RS,b63fff1ef8b6201df68bb611ee41129e,delivered,2017-04-02 22:15:27,2017-04-04 05:55:19,2017-04-13 16:28:06,...,146.21,84467f1766775ba4c14fc25b3ca67905,4,NaN,"A cr√≠tica √© √† entrega, pois por se tratar dos ...",2017-05-03 00:00:00,2017-05-03 21:06:33,8577,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,eda10d7eb51a675d000956fa1aabc7dd,5c22dbb9d8b5385953f2f1e6d9d115a7,39920,jordania,MG,b494f624c631105b24fe497277085909,delivered,2018-08-01 18:58:49,2018-08-02 18:50:15,2018-08-03 15:39:00,...,72.18,709ee020ff826ee5289d7dd5d6911d0c,5,NaN,NaN,2018-08-14 00:00:00,2018-08-15 11:31:29,87015,maringa,PR
117325,f0f671d4034e98cdf20f0c452d6db02b,6532316a8c1a7c7a569482db073530bb,7231,guarulhos,SP,f73b31435ce6dec43df056154c39a1ce,shipped,2018-08-20 12:37:54,2018-08-20 15:35:42,2018-08-24 16:48:00,...,775.98,274e38de8990f74fc03894fa488b5cd5,3,PRODUTO,N√ÉO TENHO COMO AVALIAR POIS AINDA N√ÉO RECEBI O...,2018-08-29 00:00:00,2018-08-30 12:07:35,9861,sbc,SP
117326,b90b857a277b080d8078332b3636ab58,7f5f43a9394964ac51bc5d1e0204ead4,76400,uruacu,GO,d76fe905f4588ad69ab3b36527bb267d,delivered,2018-08-18 20:59:58,2018-08-18 21:10:13,2018-08-20 16:49:00,...,224.44,6010e1ba95a9e19dc10a7b761932cf98,5,NaN,NaN,2018-08-29 00:00:00,2018-08-29 21:43:39,83015,sao jose dos pinhais,PR
117327,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,...,167.79,603f2873842a6975a43c54d305397d69,1,NaN,NaN,2017-12-14 00:00:00,2017-12-16 13:50:11,12914,braganca paulista,SP
117328,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG,51c6d2f460589fa7b65f2da51e860206,delivered,2017-11-14 12:04:09,2017-11-14 12:15:25,2017-11-27 20:44:47,...,32.13,603f2873842a6975a43c54d305397d69,1,NaN,NaN,2017-12-14 00:00:00,2017-12-16 13:50:11,12914,braganca paulista,SP

In [123]:
merge_table.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state', 'order_id', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'],
      dtype='object')>

**C√≥pia do dataframe**

In [124]:
merge_table_copy = merge_table.copy()

**Descartando algumas colunas a principio n√£o necess√°rias**

In [125]:
merge_table_copy = merge_table.drop(columns=['customer_unique_id', 'customer_city', 'customer_state', 'order_status',
       'order_purchase_timestamp', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'shipping_limit_date','review_creation_date',
       'review_answer_timestamp','seller_city',
       'seller_state', 'review_comment_title', 'review_comment_message'])

**Transformando em arrays numpy**

Para melhor manipula√ß√£o - desempenho

In [126]:
vetor_cliente = np.array(merge_table_copy.customer_id)
vetor_cepcliente = np.array(merge_table_copy.customer_zip_code_prefix)
vetor_pedido = np.array(merge_table_copy.order_id)
vetor_id_pedido = np.array(merge_table_copy.order_item_id)
vetor_produto = np.array(merge_table_copy.product_id)
vetor_vendedor = np.array(merge_table_copy.seller_id)
vetor_preco_produto = np.array(merge_table_copy.price)
vetor_frete = np.array(merge_table_copy.freight_value)
vetor_parcela = np.array(merge_table_copy.payment_sequential)
vetor_tipopagamento = np.array(merge_table_copy.payment_type)
vetor_pay = np.array(merge_table_copy.payment_installments)
vetor_valorfinal = np.array(merge_table_copy.payment_value)
vetor_review = np.array(merge_table_copy.review_id)
vetor_score = np.array(merge_table_copy.review_score)
vetor_cepvendedor = np.array(merge_table_copy.seller_zip_code_prefix)

**Novo DataFrame vazio**

In [127]:
data_frame = pd.DataFrame()

data_frame

Empty DataFrame
Columns: []
Index: []

**Definindo as colunas do novo dataframe e atribuindo para cada coluna, seu respectivo vetor de dados registrado anteriormente**

In [128]:
COLUNAS = ['Cliente',
'CEP_Cliente',
'Pedido',
'id_Pedido',
'Produto',
'Vendedor',
'Preco_produto',
'Frete',
'Parcela',
'Tipo_pagamento',
'Installments',
'Valor_total',
'ID_Review',
'CEP_Vendedor',
'Score'
]

In [129]:
data_frame = pd.DataFrame(columns = COLUNAS)

data_frame.Cliente = vetor_cliente
data_frame.CEP_Cliente = vetor_cepcliente
data_frame.Pedido = vetor_pedido
data_frame.id_Pedido = vetor_id_pedido
data_frame.Produto = vetor_produto
data_frame.Vendedor = vetor_vendedor
data_frame.Preco_produto = vetor_preco_produto
data_frame.Frete = vetor_frete
data_frame.Parcela = vetor_parcela
data_frame.Tipo_pagamento = vetor_tipopagamento
data_frame.Installments = vetor_pay
data_frame.Valor_total = vetor_valorfinal
data_frame.ID_Review = vetor_review
data_frame.CEP_Vendedor = vetor_cepvendedor
data_frame.Score = vetor_score

data_frame

,Cliente,CEP_Cliente,Pedido,id_Pedido,Produto,Vendedor,Preco_produto,Frete,Parcela,Tipo_pagamento,Installments,Valor_total,ID_Review,CEP_Vendedor,Score
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,00e7ee1b050b8499577073aeb2a297a1,1,a9516a079e37a9c9c36b9b78b10169e8,7c67e1448b00f6e969d365cea6b010ab,124.99,21.88,1,credit_card,2,146.87,88b8b52d46df026a9d1ad2136a59b30b,8577,4
1,4e7b3e00288586ebd08712fdd0374a03,1151,b2059ed67ce144a36e2aa97d2c9e9ad2,1,bd07b66896d6f1494f5b86251848ced7,7c67e1448b00f6e969d365cea6b010ab,139.94,17.79,1,credit_card,7,157.73,5ad6695d76ee186dc473c42706984d87,8577,5
2,b2b6027bc5c5109e529d4dc6358b12c3,8775,951670f92359f4fe4a63112aa7306eba,1,a5647c44af977b148e0a3a4751a09e2e,7c67e1448b00f6e969d365cea6b010ab,149.94,23.36,1,credit_card,1,173.30,059a801bb31f6aab2266e672cab87bc5,8577,5
3,4c06b42fbf7b97ab10779cda5549cd1c,65075,997fd4b37386d10b57d4ac8cdec011a6,1,8ed094bfe076c568f6bb10feada3f75d,7c67e1448b00f6e969d365cea6b010ab,199.98,115.77,1,credit_card,6,315.75,2518803238cabbf63564593e4a8fc52d,8577,1
4,8276de07ef25225d412b8462d73f8664,90010,b63fff1ef8b6201df68bb611ee41129e,1,aba86c093ccdbac75b09111d57e50004,7c67e1448b00f6e969d365cea6b010ab,129.60,16.61,1,boleto,1,146.21,84467f1766775ba4c14fc25b3ca67905,8577,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,eda10d7eb51a675d000956fa1aabc7dd,39920,b494f624c631105b24fe497277085909,1,a2fce4213a6ac271129618259a334261,9140ef75cc8211c4035935e80e567204,49.90,22.28,1,credit_card,3,72.18,709ee020ff826ee5289d7dd5d6911d0c,87015,5
117325,f0f671d4034e98cdf20f0c452d6db02b,7231,f73b31435ce6dec43df056154c39a1ce,1,5ece1e51ece4648de249ec6e9d007fd6,da4d149c0ddbac90557103ac0a0ec356,730.00,45.98,1,credit_card,10,775.98,274e38de8990f74fc03894fa488b5cd5,9861,3
117326,b90b857a277b080d8078332b3636ab58,76400,d76fe905f4588ad69ab3b36527bb267d,1,d6e7ac236e583af1e1543d8068c91676,377bc18334c78dd2f1535ef22a3ad225,135.98,88.46,1,credit_card,6,224.44,6010e1ba95a9e19dc10a7b761932cf98,83015,5
117327,1ed0c832c2dd99570a59260e71768bdf,37610,51c6d2f460589fa7b65f2da51e860206,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,167.99,31.93,1,credit_card,5,167.79,603f2873842a6975a43c54d305397d69,12914,1
117328,1ed0c832c2dd99570a59260e71768bdf,37610,51c6d2f460589fa7b65f2da51e860206,1,c98bf47f7bea8f3aee82fa023786b8a1,51a04a8a6bdcb23deccc82b0b80742cf,167.99,31.93,2,credit_card,1,32.13,603f2873842a6975a43c54d305397d69,12914,1

**Informa√ß√µes do dataframe**

In [130]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117329 entries, 0 to 117328
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Cliente         117329 non-null  object
 1   CEP_Cliente     117329 non-null  int64
 2   Pedido          117329 non-null  object
 3   id_Pedido       117329 non-null  int64
 4   Produto         117329 non-null  object
 5   Vendedor        117329 non-null  object
 6   Preco_produto   117329 non-null  float64
 7   Frete           117329 non-null  float64
 8   Parcela         117329 non-null  int64
 9   Tipo_pagamento  117329 non-null  object
 10  Installments    117329 non-null  int64
 11  Valor_total     117329 non-null  float64
 12  ID_Review       117329 non-null  object
 13  CEP_Vendedor    117329 non-null  int64
 14  Score           117329 non-null  int64
dtypes: float64(3), int64(6), object(6)
memory usage: 13.4+ MB

**Agrupando os elementos do dataframe por consumidor**

In [131]:
data_frame.groupby(by='Cliente').size()

Cliente
00012a2ce6f8dcda20d059ce98491703    1
000161a058600d5901f007fab4c27140    1
0001fd6190edaaf884bcaf3d49edf079    1
0002414f95344307404f0ace7a26f1d5    1
000379cdec625522490c315e70c7a9fb    1
                                   ..
fffcb937e9dd47a13f05ecb8290f4d3e    1
fffecc9f79fd8c764f843e9951b11341    3
fffeda5b6d849fbd39689bb92087f431    1
ffff42319e9b2d713724ae527742af25    1
ffffa3172527f765de70084a7e53aae8    2
Length: 97916, dtype: int64

**Importando os m√©todos de √°rvore de decis√£o**

In [132]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import metrics

**Para simplificar os dados, removemos todos os elementos n√£o num√©ricos para que o modelo seja capaz de realizar a execu√ß√£o**

In [133]:
data_frame['Cliente'] = data_frame['Cliente'].str.replace(r'\D', '')
data_frame['Pedido'] = data_frame['Pedido'].str.replace(r'\D', '')
data_frame['Produto'] = data_frame['Produto'].str.replace(r'\D', '')
data_frame['Vendedor'] = data_frame['Vendedor'].str.replace(r'\D', '')
data_frame['ID_Review'] = data_frame['ID_Review'].str.replace(r'\D', '')

data_frame

C:\Users\Aluno\AppData\Local\Temp\ipykernel_6116\205648117.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  data_frame['Cliente'] = data_frame['Cliente'].str.replace(r'\D', '')
C:\Users\Aluno\AppData\Local\Temp\ipykernel_6116\205648117.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data_frame['Pedido'] = data_frame['Pedido'].str.replace(r'\D', '')
C:\Users\Aluno\AppData\Local\Temp\ipykernel_6116\205648117.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data_frame['Produto'] = data_frame['Produto'].str.replace(r'\D', '')
C:\Users\Aluno\AppData\Local\Temp\ipykernel_6116\205648117.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  data_frame['Vendedor'] = data_frame['Vendedor'].str.replace(r'\D', '')
C:\Users\Aluno\AppData\Local\Temp\ipykernel_6116\205648117.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  data_frame['ID_Review'] = data_frame['ID_Review'].str.replace(r'\D', '')

,Cliente,CEP_Cliente,Pedido,id_Pedido,Produto,Vendedor,Preco_produto,Frete,Parcela,Tipo_pagamento,Installments,Valor_total,ID_Review,CEP_Vendedor,Score
0,068999211881720087,14409,0071050849957707322971,1,9516079379936978101698,76714480069693656010,124.99,21.88,1,credit_card,2,146.87,88852460269121365930,8577,4
1,4730028858608712037403,1151,205967144362972992,1,0766896614945862518487,76714480069693656010,139.94,17.79,1,credit_card,7,157.73,56695761864734270698487,8577,5
2,260275510952946358123,8775,9516709235944631127306,1,564744977148034751092,76714480069693656010,149.94,23.36,1,credit_card,1,173.30,0598013162266672875,8577,5
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,76714480069693656010,199.98,115.77,1,credit_card,6,315.75,2518803238635645934852,8577,1
4,827607252254128462738664,90010,631862016861141129,1,8609375091115750004,76714480069693656010,129.60,16.61,1,boleto,1,146.21,84467176677541425367905,8577,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,1075167500095617,39920,49462463110524497277085909,1,242136271129618259334261,9140758211403593580567204,49.90,22.28,1,credit_card,3,72.18,70902082652897569110,87015,5
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,414909055710300356,730.00,45.98,1,credit_card,10,775.98,274388990740389448855,9861,3
117326,908572770808078332363658,76400,76905458869336527267,1,6723658311543806891676,377183347821535223225,135.98,88.46,1,credit_card,6,224.44,601019591910776193298,83015,5
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,1,credit_card,5,167.79,60328738426975435430539769,12914,1
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,2,credit_card,1,32.13,60328738426975435430539769,12914,1

In [135]:
result_data_frame = pd.get_dummies(data_frame, columns=['Tipo_pagamento'])
result_data_frame

,Cliente,CEP_Cliente,Pedido,id_Pedido,Produto,Vendedor,Preco_produto,Frete,Parcela,Installments,Valor_total,ID_Review,CEP_Vendedor,Score,Tipo_pagamento_boleto,Tipo_pagamento_credit_card,Tipo_pagamento_debit_card,Tipo_pagamento_voucher
0,068999211881720087,14409,0071050849957707322971,1,9516079379936978101698,76714480069693656010,124.99,21.88,1,2,146.87,88852460269121365930,8577,4,0,1,0,0
1,4730028858608712037403,1151,205967144362972992,1,0766896614945862518487,76714480069693656010,139.94,17.79,1,7,157.73,56695761864734270698487,8577,5,0,1,0,0
2,260275510952946358123,8775,9516709235944631127306,1,564744977148034751092,76714480069693656010,149.94,23.36,1,1,173.30,0598013162266672875,8577,5,0,1,0,0
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,76714480069693656010,199.98,115.77,1,6,315.75,2518803238635645934852,8577,1,0,1,0,0
4,827607252254128462738664,90010,631862016861141129,1,8609375091115750004,76714480069693656010,129.60,16.61,1,1,146.21,84467176677541425367905,8577,4,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,1075167500095617,39920,49462463110524497277085909,1,242136271129618259334261,9140758211403593580567204,49.90,22.28,1,3,72.18,70902082652897569110,87015,5,0,1,0,0
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,414909055710300356,730.00,45.98,1,10,775.98,274388990740389448855,9861,3,0,1,0,0
117326,908572770808078332363658,76400,76905458869336527267,1,6723658311543806891676,377183347821535223225,135.98,88.46,1,6,224.44,601019591910776193298,83015,5,0,1,0,0
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,1,5,167.79,60328738426975435430539769,12914,1,0,1,0,0
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,2,1,32.13,60328738426975435430539769,12914,1,0,1,0,0

**Criando um backup**

In [136]:
reserva = result_data_frame.copy()

reserva

,Cliente,CEP_Cliente,Pedido,id_Pedido,Produto,Vendedor,Preco_produto,Frete,Parcela,Installments,Valor_total,ID_Review,CEP_Vendedor,Score,Tipo_pagamento_boleto,Tipo_pagamento_credit_card,Tipo_pagamento_debit_card,Tipo_pagamento_voucher
0,068999211881720087,14409,0071050849957707322971,1,9516079379936978101698,76714480069693656010,124.99,21.88,1,2,146.87,88852460269121365930,8577,4,0,1,0,0
1,4730028858608712037403,1151,205967144362972992,1,0766896614945862518487,76714480069693656010,139.94,17.79,1,7,157.73,56695761864734270698487,8577,5,0,1,0,0
2,260275510952946358123,8775,9516709235944631127306,1,564744977148034751092,76714480069693656010,149.94,23.36,1,1,173.30,0598013162266672875,8577,5,0,1,0,0
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,76714480069693656010,199.98,115.77,1,6,315.75,2518803238635645934852,8577,1,0,1,0,0
4,827607252254128462738664,90010,631862016861141129,1,8609375091115750004,76714480069693656010,129.60,16.61,1,1,146.21,84467176677541425367905,8577,4,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117324,1075167500095617,39920,49462463110524497277085909,1,242136271129618259334261,9140758211403593580567204,49.90,22.28,1,3,72.18,70902082652897569110,87015,5,0,1,0,0
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,414909055710300356,730.00,45.98,1,10,775.98,274388990740389448855,9861,3,0,1,0,0
117326,908572770808078332363658,76400,76905458869336527267,1,6723658311543806891676,377183347821535223225,135.98,88.46,1,6,224.44,601019591910776193298,83015,5,0,1,0,0
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,1,5,167.79,60328738426975435430539769,12914,1,0,1,0,0
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,2,1,32.13,60328738426975435430539769,12914,1,0,1,0,0

**Eliminando clientes com mais de 3 estrelas de satisfa√ß√£o**

In [137]:
reserva = reserva.drop(reserva[reserva.Score > 3].index)

reserva

,Cliente,CEP_Cliente,Pedido,id_Pedido,Produto,Vendedor,Preco_produto,Frete,Parcela,Installments,Valor_total,ID_Review,CEP_Vendedor,Score,Tipo_pagamento_boleto,Tipo_pagamento_credit_card,Tipo_pagamento_debit_card,Tipo_pagamento_voucher
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,76714480069693656010,199.98,115.77,1,6,315.75,2518803238635645934852,8577,1,0,1,0,0
7,0372810041857927016263,21010,369525670169482825831,1,9149964056487642250089,76714480069693656010,78.98,39.48,1,1,118.46,50240342442053299029167,8577,2,1,0,0,0
18,45800571938861445,13485,3793048208056190003,1,073816586646007781918834,76714480069693656010,209.99,36.98,1,4,246.97,19338660916893707370094,8577,3,0,1,0,0
19,19530467435951219042,20920,54813422788333035171945,1,466668028836324039256,76714480069693656010,159.98,49.49,1,1,209.47,576586473748925439048,8577,1,1,0,0,0
21,52814168460899591,36091,532771277634465595,1,44685813716436,76714480069693656010,129.94,73.86,1,4,203.80,47648253909483401757,8577,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117320,049671902463228846651580,4929,93358729701080188455,1,72966155721853046438,929923957665903146465,109.00,12.67,1,1,121.67,4396354052945949758,4310,1,1,0,0,0
117323,211018165721598633401,18650,357035504504584,1,44442901095795215892510,46565251517718193618677,226.60,25.67,1,5,252.27,220719962586900027,9895,3,0,1,0,0
117325,0671403498200452602,7231,7331435643056154391,1,51514648249690076,414909055710300356,730.00,45.98,1,10,775.98,274388990740389448855,9861,3,0,1,0,0
117327,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,1,5,167.79,60328738426975435430539769,12914,1,0,1,0,0
117328,108322995705926071768,37610,5162460589765251860206,1,98477838202378681,5104862382080742,167.99,31.93,2,1,32.13,60328738426975435430539769,12914,1,0,1,0,0

**Processo de separa√ß√£o de treino/teste**

Propor√ß√µes

70% treino

30% teste

In [138]:
y = result_data_frame['Score']

X = result_data_frame.drop('Score', axis=1)

X_train, X_teste, y_train, y_test = train_test_split(X, y, test_size=0.3)

**N√∫mero de amostras para cada processo**

In [139]:
X_train.shape, X_teste.shape

((82130, 17), (35199, 17))

**N√∫mero de targets para cada processo**

In [140]:
y_train.shape, y_test.shape

((82130,), (35199,))

**Cria√ß√£o do classificador**

In [141]:
cls = DecisionTreeClassifier()

**Treinamento**

In [142]:
cls = cls.fit(X_train, y_train)

**Vetor com as importancias de cada atributo para a determina√ß√£o do review_score**

In [144]:
result_data_frame.columns.to_list

<bound method IndexOpsMixin.tolist of Index(['Cliente', 'CEP_Cliente', 'Pedido', 'id_Pedido', 'Produto', 'Vendedor',
       'Preco_produto', 'Frete', 'Parcela', 'Installments', 'Valor_total',
       'ID_Review', 'CEP_Vendedor', 'Score', 'Tipo_pagamento_boleto',
       'Tipo_pagamento_credit_card', 'Tipo_pagamento_debit_card',
       'Tipo_pagamento_voucher'],
      dtype='object')>

In [143]:
cls.feature_importances_

array([0.10804942, 0.10806467, 0.10798805, 0.00651511, 0.09473361,
       0.07492379, 0.07701227, 0.09002379, 0.00275837, 0.03676549,
       0.08487975, 0.1106814 , 0.07517529, 0.00949722, 0.00774751,
       0.00230148, 0.00288277])

In [145]:
from sklearn.tree import plot_tree, export_text

In [147]:
plt.rcParams['figure.figsize'] = (40, 20)

In [148]:
'''plt.figure()
plot_tree(cls, filled=False)
plt.show()'''

'plt.figure()\nplot_tree(cls, filled=False)\nplt.show()'

In [149]:
data_frame.head()

,Cliente,CEP_Cliente,Pedido,id_Pedido,Produto,Vendedor,Preco_produto,Frete,Parcela,Tipo_pagamento,Installments,Valor_total,ID_Review,CEP_Vendedor,Score
0,068999211881720087,14409,0071050849957707322971,1,9516079379936978101698,76714480069693656010,124.99,21.88,1,credit_card,2,146.87,88852460269121365930,8577,4
1,4730028858608712037403,1151,205967144362972992,1,0766896614945862518487,76714480069693656010,139.94,17.79,1,credit_card,7,157.73,56695761864734270698487,8577,5
2,260275510952946358123,8775,9516709235944631127306,1,564744977148034751092,76714480069693656010,149.94,23.36,1,credit_card,1,173.30,0598013162266672875,8577,5
3,406427971077955491,65075,9974373861057480116,1,8094076568610375,76714480069693656010,199.98,115.77,1,credit_card,6,315.75,2518803238635645934852,8577,1
4,827607252254128462738664,90010,631862016861141129,1,8609375091115750004,76714480069693656010,129.60,16.61,1,boleto,1,146.21,84467176677541425367905,8577,4

In [151]:
for feature, importancia in zip(result_data_frame.columns, cls.feature_importances_):
    print(f'{feature}:{importancia*100:.1f}%')

Cliente:10.8%
CEP_Cliente:10.8%
Pedido:10.8%
id_Pedido:0.7%
Produto:9.5%
Vendedor:7.5%
Preco_produto:7.7%
Frete:9.0%
Parcela:0.3%
Installments:3.7%
Valor_total:8.5%
ID_Review:11.1%
CEP_Vendedor:7.5%
Score:0.9%
Tipo_pagamento_boleto:0.8%
Tipo_pagamento_credit_card:0.2%
Tipo_pagamento_debit_card:0.3%

**Vetor com predi√ß√µes para checagem do aprendizado**

In [153]:
result = cls.predict(X_teste)
result

array([4, 5, 3, ..., 5, 5, 5], dtype=int64)

**Representa√ß√£o das m√©tricas de precis√£o e m√©dias do modelo**

In [154]:
print(metrics.classification_report(y_test, result))

              precision    recall  f1-score   support

           1       0.26      0.27      0.26      4522
           2       0.13      0.14      0.13      1217
           3       0.16      0.17      0.16      2977
           4       0.24      0.26      0.25      6634
           5       0.61      0.59      0.60     19849

    accuracy                           0.43     35199
   macro avg       0.28      0.28      0.28     35199
weighted avg       0.44      0.43      0.44     35199

**Precis√£o total**

In [155]:
from sklearn.model_selection import cross_val_score

allScores = cross_val_score(cls, X_train, y_train, cv=10)
allScores.mean()

0.4294046024595154

**Split do dataframe em treino e teste**

In [157]:
X_train, X_test, y_train, y_test = train_test_split(reserva.drop('Score', axis=1), reserva['Score'], test_size=0.2)

**Quantidade de amostras do treino**

In [158]:
X_train.shape, X_test.shape

((23023, 17), (5756, 17))

**Classificador**

In [159]:
clf = DecisionTreeClassifier()

**Treino**

In [160]:
clf = clf.fit(X_train, y_train)

**Importancia dos atributos**

In [161]:
clf.feature_importances_

array([0.10917864, 0.10727172, 0.09361758, 0.0084952 , 0.09489858,
       0.08459799, 0.08248932, 0.08876593, 0.00174355, 0.03505412,
       0.09695584, 0.10630449, 0.0727466 , 0.00737717, 0.00618989,
       0.00162312, 0.00269025])

In [162]:
result_data_frame.columns.tolist

<bound method IndexOpsMixin.tolist of Index(['Cliente', 'CEP_Cliente', 'Pedido', 'id_Pedido', 'Produto', 'Vendedor',
       'Preco_produto', 'Frete', 'Parcela', 'Installments', 'Valor_total',
       'ID_Review', 'CEP_Vendedor', 'Score', 'Tipo_pagamento_boleto',
       'Tipo_pagamento_credit_card', 'Tipo_pagamento_debit_card',
       'Tipo_pagamento_voucher'],
      dtype='object')>

In [164]:
for feature, importancia in zip(reserva.columns, clf.feature_importances_):
    print(f'{feature}:{importancia*100:.1f}%')

Cliente:10.9%
CEP_Cliente:10.7%
Pedido:9.4%
id_Pedido:0.8%
Produto:9.5%
Vendedor:8.5%
Preco_produto:8.2%
Frete:8.9%
Parcela:0.2%
Installments:3.5%
Valor_total:9.7%
ID_Review:10.6%
CEP_Vendedor:7.3%
Score:0.7%
Tipo_pagamento_boleto:0.6%
Tipo_pagamento_credit_card:0.2%
Tipo_pagamento_debit_card:0.3%